<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>🎮Control Manual</title>
        <!-- Cargar CSS desde static -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="app">
            <header class="top-bar">
                <h1>Control Manual</h1>
                <div class="top-buttons">
                    <!-- Botón de monitor -->
                    <button id="panel-bttn" class="external-button">
                        <img src="{{ url_for('static', filename='img/monitor_icon.png') }}" alt="Monitor">
                    </button>
                    <!--Boton notificaciones-->
                    <button  class="notificacion">Notificaciones</button>
                </div>
            </header>
        </div>

        <main class="control-layout">
            <aside class="camera-panel2">
                <h2>Vista de la cámara</h2>
                <div class="camera-container">
                    <img id="camera-stream" src="{{ url_for('video_feed') }}" width="640" height="480">
                </div>
            </aside>
            <aside class="control-buttons-panel">
                <div class="grid-controls">
                    <!--Fila 1-->
                    <button class="joy-button" id="up_left-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/up_left.png') }}" alt="Up Left">
                    </button>
                    <button class="joy-button" id="up-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/up.png') }}" alt="Up">
                    </button>
                    <button class="joy-button" id="up_right-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/up_right.png') }}" alt="Up Right">
                    </button>

                    <!--Fila 2-->
                    <button class="joy-button" id="left-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/left.png') }}" alt="Left">
                    </button>  
                    <img class="robotito" src="{{ url_for('static', filename='img/Robot8bits.png') }}" alt="Robotito">
                    <button class="joy-button" id="right-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/right.png') }}" alt="Right">
                    </button>

                    <!--Fila 3-->
                    <button class="joy-button" id="down_left-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/down_left.png') }}" alt="Down Left">
                    </button>
                    <button class="joy-button" id="down-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/down.png') }}" alt="Down">
                    </button>
                    <button class="joy-button" id="down_right-btt">
                        <img src="{{ url_for('static', filename='img/Icons_Control/down_right.png') }}" alt="Down Right">
                    </button>

                    
                </div>
            </aside>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/controljs.js') }}"></script>
    </body>
</html>