<!DOCTYPE html>

<!--Checar tcp - ip -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🖥️ Robot control GUI</title>
    <!-- Cargar CSS desde static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="app">
        <!-- Barra superior -->
        <header class="top-bar">
            <h1>Estatus general</h1>
            <div class="top-buttons">
                <button id="noti-bttn" class="external-button">
                    <img src="{{ url_for('static', filename='img/icon_bell.png') }}" alt="Notificaciones">
                    <span id="badge" class="badge">0</span>
                </button>
                <button id="control-int" class="external-button">
                    <img src="{{ url_for('static', filename='img/control_icon.png') }}" alt="Control">
                </button>
            </div>
        </header>

        <div id="sidebar" class="sidebar">
            <div class="header-sidebar">
                <h3>🔔 Notificaxiones</h3>                  
                <button id="close-sidebar" class="close-btn">✖</button>            
            </div>
                <div id="noti-list">
                    <p id="no-noti-msg">🐌 Sin notificaciones</p>
                    <ul></ul>
                </div>
            <button id="clear-btn" class="clear-btn">🗑 Vaciar</button>
        </div>
    </div>

    <main>
        <main class="layout-inf">

            <!--Panel izquierdo-->
            <aside class="status-panel">
                <!--Nivel de bateria-->
                <div class="card">
                    <h3> Batería </h3>
                    <p id ="data-battery">🔋 75%</p>
                </div>
                <!--Niveles CO2-->
                <div class="card">
                    <h3>CO₂</h3>
                    <p id ="data-co2">🌬️ 450 ppm</p>
                </div>
                <!--Estatus del robot-->
                <div class="card">
                    <h3>Estatus</h3>
                    <p>🛑 Detenido</p>
                </div>
            </aside>            

            <!--Panel Central-->
            <aside class="status-panel">
                <div class="card">
                    <!--Estatus Lamparas UVC-->
                    <h3>Estado de red</h3>
                    <div class="status-row">
                        <div id="indicator-online" class="indicator indicator-off"></div>
                        <span id="text-online">Desconectado</span>
                    </div>

                    <!--Estatus Lamparas UVC-->
                    <h3>Lamparas UVC</h3>
                    <div class="status-row">
                        <div id="indicator-lamps" class="indicator indicator-off"></div>
                        <span id="text-lamps">Desactivado</span>
                    </div>
                    
                    <!--Estatus del Robot-->
                    <h3>Estatus del robot</h3>
                    <div class="status-row">
                        <div id="indicator-status" class="indicator indicator-off"></div>
                        <span id="text-status">Detenido</span>
                    </div>
                    
                </div>
            </aside>
            
            <!--Panel derecho-->
            <aside class="status-panel">
                <div class="card">
                    <!--Botonos de control-->
                    <div class="control-panel">

                        <!-- Boton Start-->
                        <button id="start-btt" class="btn">
                            <img src="{{ url_for('static', filename='img/icon_play.png') }}" alt="Configuracion">
                            <span>INICIO</span>
                        </button>
                        <!--Boton HOME-->
                        <button id="home-btt" class="btn">
                            <img src="{{ url_for('static', filename='img/icon_home.png') }}" alt="Configuracion">
                            <span>CASA</span>
                        </button>

                        <!--Boton UVC-->
                        <button id="uvc-btt" class="btn">
                            <img src="{{ url_for('static', filename='img/icon_uvc.png') }}" alt="Configuracion">
                            <span>LAMPARAS UVC</span>
                        </button>

                        <!--Boton Paro de emergencia-->
                        <button id="stop-btt" class="btn-stop">
                            <img src="{{ url_for('static', filename='img/icon_stop.png') }}" alt="Configuracion">
                            <span>PARO EMERGENCIA</span>
                        </button>

                    </div>
                </div>
            </aside>

        </main>

    <main class="visual-layout">
    <!-- Sección Mapa -->
    <section class="visual-section">
        <header class="section-header">
        <h3>Mapa</h3>
        </header>
        <div class="map-panel">
        [Mapa del robot]
        </div>
    </section>

    <!-- Sección Cámara -->
    <section class="visual-section">
    <div class="layout-camera">
        <header class="section-header">
            <h3>Cámara</h3>
        </header>
        <button id="toggle-cam" class="show-camara">
            <img id="cam-icon" src ="{{url_for('static', filename='img/icon_video.png')}}" alt="Camara" width="24" height="24">
        </button>
    </div>
    <div id="camera-panel" class="camera-panel">
        <img id="camera-stream" src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>
    </section>

    </main>


    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
